# Configuração de Conexão com o PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=meu_banco_de_dados

# Caminho do Arquivo CSV de Entrada
CSV_ENTRADA=dados/entrada/produtos.csv
