# Embora não haja scripts Python diretamente na apostila que consumam este env,
# deixamos o template padrão exigido para o lab.
DB_HOST=localhost
DB_NAME=meu_banco_de_dados
DB_USER=postgres
DB_PASSWORD=postgres
MONGO_URI=mongodb://localhost:27017/meu_banco_mongo
